<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Error Page</title>
	<head>
        <style>
            .center {
                margin: auto;
                width: 50%;
                border: 3px solid #333;
                padding: 80px;
                color: white;
                background-color: #333;
                align-self: center;
            }
        </style>
    </head>
</head>
<body>
	<div>
		<div class="center">
            <table>
                <tr>
                    <td>
                        <label style="color:white" id="lbluserName"><%= myVar%></label>
                    </td>  
                </tr>
            </table>
        </div>
	</div>
</body>
</html>
