<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
	<link rel="stylesheet" href="content/css/bootstrap.min.css">
    
	<script src="content/js/jquery-2.1.1.js"></script>
    <script src="content/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/css/font.css?family=Abeezee:400|Open+Sans:400,600,700|Source+Sans+Pro:400,600">
    <link rel="stylesheet" type="text/css" href="Content/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="Content/css/demo.css">
</head>
<body>
        <div class="container-fluid" style="height:100%;">
		<div class="row" style="height:100%;">
		<% include CommonPages/HeaderFile %>
		<div class="row col-sm-2" style="float:left;height:100%;">
        <% include CommonPages/SideNavigation %>
		</div>
		</div>
		</div>
	<footer class="footer" style="position: fixed;bottom: 0px; width:100%; text-align:center">
        <div class="panel-footer" style="width:100%">&copy;Copyright 1999-2017. All Rights Reserved.</div>
    </footer>

    </body>
</html>
