<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="content/css/font.css?family=Abeezee:400|Open+Sans:400,600,700|Source+Sans+Pro:400,600">
    <link rel="stylesheet" type="text/css" href="Content/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="Content/css/demo.css">
    <script src="content/js/jquery.min.js"></script>
    <link rel="stylesheet" href="content/css/bootstrap.min.css">
    <script src="content/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <% include CommonPages/HeaderFile %>
    </div>
    <div id="wrapper" class="container-fluid" style="padding-left:0px;height:100%">
        <div class="page-content-wrapper" style="height:inherit">
            <div class="col-sm-2" style="padding-left: 0px;height:inherit">
                <% include CommonPages/SideNavigation %>
            </div>
            <div class="col-sm-10 container-fluid" style="margin-top:15px">
                <%include CommonPages/SearchCase %>
            </div>
        </div>
    </div>
    <footer class="footer" style="position: fixed;bottom: 0px; width:100%; text-align:center">
        <div class="panel-footer" style="width:100%">&copy;Copyright 1999-2017. All Rights Reserved.</div>
    </footer>
</body>
</html>
