<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Summary</title>
</head>
<body>
<header>
        <% include HeaderFile %>
    </header>
<table>
    <tr>
        <td valign="top">
            <% include SideNavigation %>
			</td>
        <td>
            <table>
			<thead><th><h3>Add Product Quality Case</h3></th></thead>
               <tr>
			   <td>Summary</td>
			   <td><%= objId%></td>
			   <td><%= date_insert%></td>
			   <td><%= summary%></td>
			   </tr>
			   
                <p style="font-style:italic">Case Product Quality case</p>          
            </table>
		
        </td>
	</tr>
	</table>
</body>
</html>
