<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
    <img src="../content/img/infosys-logo.jpg" width="120"/>
    <h5 style="float:right; margin-top:20px; margin-right:10px">Building Tomorrow's Enterprise</h5>
    </div>
     
    <nav class="navbar navbar-default" style="box-shadow: 0 0 20px black;">
        <div class="container-fluid">
            <div class="navbar-header">
                
            </div>
            <div>
                <ul class="nav navbar-nav" style="height:55px">
                    <li class="active" style="margin-top:0px"><a href="#">Home</a></li>
                    <li style="margin-top:0px"><a href="#" >Search email</a></li>
                    <li style="margin-top:0px"><a href="#" >Worklist</a></li>
           
                </ul>
                <ul class="nav navbar-nav navbar-right" style="height:55px">
                    <li style="margin-top:0px"><a href="/logout">Hello <%= myVar%> &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
